h5 {
    margin-top:-12px;
    font-weight: 300;
}
table {
    width: 100%;
}
.place {
    position: relative;
    width: 100%;
    .hide-place {
        position: absolute;
        top: -30px;
        right: 2px;
    }
}