.add-in-table-comments {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.comments-section-wrapper {
    display: flex;
    align-items: center;
}
.add-in-table-svg {
    color: #44AD8E;
}
