.dashboard {
    height: 100%;
    a {
        text-decoration: none;
        color: inherit;
    }
    .dasheader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        color: #d1d1f0;
        font-size: 20px;
        background: #292961;
        display: flex;
        align-items: center;
        z-index: 1000;
        justify-content: space-between;
        & svg {
            color: #d1d1f0;
        }
        .user-block {
            margin-left: auto;
            padding-right: 20px;
            display: flex;
            align-items: center;
             .username {
                color: white;
             }
        }
    }
    .main-wrapper {
        display: flex;
        height: 100%;
        .sidebar {
            position: fixed;
            bottom: 0;
            left: 0;
            transition: width 0.3s, left 0.3s;
            z-index: 600;
            width: 220px;
            top: 40px;
            background-color: #f0f0f0;
            transform: translate3d(0, 0, 0);
        }
        .main-content {
            width: calc(100% - 220px);
            margin-left: 220px;
            height: 100%;
            overflow: auto;
            .no-rights {
              margin-top: 50px;
            }
        }
    }
    .list-item {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;
        width: calc(100% - 30px);

    }
}
