
.most-probbl-diagnosis {
    margin: 10px 16px 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h4 {
        text-align: start;
        margin-left: 10px;
    }
}
