.add-appl-container {
  height: calc(100% - 40px);
    width: 100%;
    .add-button-wrapper {
        display: flex;
        margin-top: 40px;
        height: 32px;
        .add-button {
            background-color: #1f75cb;
            box-shadow: inset 0 0 0 1px #1068bf;
            margin: 8px 20px 0 auto;
            text-transform: none;
            height: 100%;
        }
    }
    .appl-table {
        margin: 20px 10px 0px 10px;
        max-height: calc(100% - 142px);
        overflow: auto;
        table {
            font-family: arial, sans-serif;
            width: 100%;
            height: 100%;
            overflow: auto;
            border: 1px solid #dbdbdb;
            border-collapse: collapse;
        }

        td,
        th {
            text-align: left;
            padding: 10px 16px;
            border-top: 1px solid #dbdbdb;
            border-collapse: collapse;
        }

        th {
            background: #f0f0f0;
        }

        tr {
            cursor: pointer;
            &:hover {
                background-color: #e9f3fc;
                background-clip: padding-box;
                border-top: 1px solid #9dc7f1;
                border-bottom: 1px solid #9dc7f1;
            }
        }
        tr:nth-child(even) {
            &:hover {

            }
        }
        .delete-button {
            color: crimson;
        }
    }
    .pagination {
        height: 40px;
        padding: 8px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
